a {
  outline: none;
  text-decoration: none;
  color: #27253d;
}

a:hover {
  border-bottom: 1px solid;
  background: white;
  color: black;
}

/*Top Menu*/
.top-menu {
  height: 100px;
}

.menu {
  text-align: right;
  padding: 40px 20px 40px 0px;
}

.menu-item {
  display: inline;
  padding: 0px 15px 0px 15px;
}

/*Header*/
.header {
  background-color: gray;
  height: 200px;
}
