/*Top Menu*/
.top-menu {
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 200px;
  width: 200px;
  justify-content: flex-start;
  padding-left: 30px;
}

.menu {
  text-align: right;
  padding: 100px 30px 100px 0px;
  justify-content: flex-end;
}

.menu-item {
  display: inline;
  padding: 10px 0px;
  margin: 0px 10px;
}

.menu-color {
  font-weight: bold;
  margin-top: 100px;
  padding: 15px;
  margin: 0px;
  border: 1px solid;
  border-color: #274e13;
  border-radius: 20px;
  color: #274e13;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.menu-color:hover {
  background-color: #274e13;
  color: white;
  border: 0px;
  text-decoration: none;
}

/*header*/

.header {
  background-image: url("../images/guitar.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.header-text {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 400px;
  font-family: "Merriweather", serif;
  font-weight: 100;
  line-height: 1.5;
}

/*about*/
.about {
  max-width: 400px;
  text-align: center;
  margin: 100px auto 100px auto;
}

.about__h {
  font-size: 3em;
  font-family: "Merriweather", serif;
  color: #697065;
}

.about__p {
  margin: 20px 0 50px 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 30px;
  color: #697065;
}

.about__link {
  font-weight: bold;
  margin-top: 100px;
  padding: 10px;
  border: 1px solid;
  border-color: #697065;
  border-radius: 20px;
  color: #697065;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.about__link:hover {
  background-color: #697065;
  color: white;
  border: 0px;
  text-decoration: none;
}

/*Services*/
.services {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 20px 10px 100px 10px;
  justify-items: center;
}

.services__container {
  display: inline;
  padding: 0 30px 0 30px;
}

.services__container-text {
  border: 1px solid;
  border-color: #274e13;
  border-radius: 0 0 20px 20px;
  padding: 20px 10px 50px 10px;
  height: 175px;
}

.services__container-music {
  grid-column: 2/3;
}

.services__container-coaching {
  grid-column: 3/4;
}

.services__container-contact {
  grid-column: 4/5;
}

.services__cardtop {
  height: 75px;
  background-color: #274e13;
  border-radius: 20px 20px 0 0;
}

.services__title {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-family: "Merriweather", serif;
  color: #697065;
}

.services__description {
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
  color: #697065;
}

.services__link-container {
  padding-top: 60px;
}

.services__link {
  font-weight: bold;
  padding: 15px;
  border: 1px solid;
  border-color: #274e13;
  border-radius: 20px;
  color: #697065;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.services__link:hover {
  background-color: #697065;
  color: white;
  border: 0px;
  text-decoration: none;
}

.fa-icon {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  margin-top: 20px;
  color: #274e13;
}

/*temp*/
.cta {
  height: 200px;
  background-color: #274e13;
}

.cta__text {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 2em;
  color: white;
  min-width: 600px;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  line-height: 1.5em;
}

/*Padding*/

/*footer*/
.footer__icons-container {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.footer__fa-icon {
  color: #274e13;
  text-align: center;
  padding: 0 30px 0 30px;
}
